@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
}

#navbar li a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: purple;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active {
  color: blueviolet;
  transition: 0.2s ease;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background: blueviolet;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.logo {
  height: 80px;
}

.navimg {
  height: 20px;
}

#banner {
  background: #e3e6f3;
  background-image: url("images/group_wide.png");
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 0;

  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
}

#banner h4 {
  padding-top: 60px;
  padding-bottom: 60px;
}

#banner h2 {
  padding-bottom: 40px;
}

#banner h2 strong {
  color: mediumorchid;
}

#banner h1 {
  padding-bottom: 80px;
}

#banner h1,
h2,
h4 {
  text-shadow: 5px 5px rgb(0, 0, 0, 0.2);
}

#banner button {
  background-image: url("images/button-wristband.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 50px 200px 50px 200px;
  cursor: pointer;
}

#banner button strong {
  font-size: 2em;
  font-weight: 700;
  color: crimson;
}

#feat-title {
  margin: 40px 0 0 40px;
}

#featured {
  display: flex;
  align-items: row;
  flex-wrap: wrap;
}

#featured .feat-box {
  width: 200px;
  height: 250px;
  text-align: center;
  padding: 20px 15px;

  border: 1px solid lightblue;
  box-shadow: 20px 20px 35px rgb(0, 0, 0, 0.3);
  margin: 25px;
}

#featured .feat-box:hover {
  box-shadow: 10px 10px 50px rgb(0, 0, 0, 0.6);
}

#featured .feat-box img {
  width: 100%;
  height: auto;
}

#featured .feat-box h6 {
  width: 100%;
  padding: 15px;
  line-height: 2px;
  border-radius: 2px;
  color: darkblue;
  background: #fddde4;
}

#featured .feat-box:nth-child(2) h6 {
  background: greenyellow;
}

#featured .feat-box:nth-child(3) h6 {
  background: orange;
}

#featured .feat-box:nth-child(4) h6 {
  background: crimson;
}

#featured .feat-box:nth-child(5) h6 {
  background: lightcoral;
}
