@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
}

#navbar li a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: purple;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active {
  color: blueviolet;
  transition: 0.2s ease;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background: blueviolet;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.logo {
  height: 80px;
}

.navimg {
  height: 20px;
}

#banner {
  background: #e3e6f3;
  background-image: url("images/group_wide.png");
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 0;

  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
}

#banner h4 {
  padding-top: 60px;
  padding-bottom: 60px;
}

#banner h2 {
  padding-bottom: 40px;
}

#banner h2 strong {
  color: mediumorchid;
}

#banner h1 {
  padding-bottom: 80px;
}

#banner button {
  background-image: url("images/button-wristband.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 50px 200px 50px 200px;
}

#banner button strong {
  font-size: 2em;
  color: crimson;
}

#banner button strong:hover {
  color: red;
  transition: 0.3s ease;
}
